// COLORS
$color-primary: #7ed56f5e;
 $color-primary-light: #00fdf1fa;
 $color-primary-dark: #39a6ff;

$color-grey-light-1:#f7f7f7;


$color-grey-dark: #777;
$color-white: #fff;
$color-black: #0000;

// FONT SIZES
$default-font-size: 1.6rem;

