// VARIABLES 
// COLORS
$color-primary: #0088a9;
$color-primary-light: #69FFF6;
$color-primary-dark: rgba(50, 199, 216, 0.98);

$color-secondary: #7dffd4bb;
$color-secondary-dark: #244468;

$color-grey-light-1:#69FFF6;
$color-green-light-1: rgb(114, 238, 97);
$color-green-light-2: rgb(80, 179, 67);

$color-green-dark-1:rgb(52, 117, 43);
$color-green-dark-2:rgb(38, 83, 32);

$color-grey-dark: #777;
$color-grey-dark-1: #54483A;

$color-white: #edf0f1;
$color-white-2: #e0eef3;
$color-black: #0000;


$navigation-height: 8rem;

$color-nav-background: #24252A;
// FONT SIZES
$default-font-size: 1.6rem;
$font-size-heading: 3.5rem;
$font-size-heading-sub: 2.5rem;
$font-primary: "Montserrat" , "Lato", "sans-serif";

$icon-size: 3rem;
#goto__about{
  position: relative;
  margin-top: calc(-1 * #{$navigation-height});   /* Size of fixed header */
}

.form-group-radio{
    display: flex;
    justify-content: center;
}
.form-check{
    display: flex;
    flex-wrap: wrap;
}


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    color: inherit;
    // font-family: inherit;
}

html{
    font-family: $font-primary;
    font-size: 62.5%;
    font-weight: 300;
    line-height: 1.6;
    scroll-behavior: smooth; 
}

body {
    box-sizing: border-box;
    position: relative;
    font-family: "Nunito", sans-serif;
}

.btn {
    background-color: $color-nav-background;
    color: $color-white;
    border: none;
    border-radius: 0;
    
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s;
    

    &:hover,
    &:active{
        background-color: $color-primary;
        
    }
    &__submit{
        display: table;
        margin: 0 auto;
        min-width: 15rem;
    }
}

.modal-title{
    width: 100%;
}
// Typography

.heading__tertiary {
    font-size: 3rem;
    font-weight: 400;
    color: $font-size-heading-sub;
    
}
// GRID

.grid__container {
    // Push on top to avoid collision with navbar 
    margin-top: $navigation-height;
    // Wrapper for all content
    display: grid;
    grid-template-rows: calc(100vh - #{$navigation-height}) repeat(6, min-content);
    // 1 fr between the navigation and the content from both sides to center it
    grid-template-columns: [sidenav-end full-start] minmax(4rem,1fr) [center-start] repeat(9,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem,1fr) [full-end];
    
    }
    
    
// Header - Navigation
.header {
    // Positioning
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;

    // Sizing
    width: 100%;
    height: $navigation-height;

    // Styling
    overflow: hidden;
    background-color: $color-nav-background;
    color: $color-white;

    // Items Positioning
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

    // Links, Buttons, Header
    li,
    a,
    button,
    h1 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: $default-font-size;
        color: #edf0f1;
        text-decoration: none;
    }
    // Spiros and Thomas Boats - Header
    h1 {
        border: 1px solid white;
        margin: 0;
        padding: 3px;
        font-weight: 800;
        cursor: pointer;
    }

    .nav__links {
        list-style-type: none;
        li {
            display: inline-block;
            padding: 0 20px;
        }
        li a {
            transform: all .3s ease 0s;
            
        }
        li a:hover {
            color: $color-primary;
        }

    }

    // Button - Menu , Contacts
    button {
        // Styling
        padding: 9px 25px;
        background-color: rgba(0, 136, 169, 1);
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all .3s ease 0s;
        &:hover{
                background-color: rgba(0, 136, 169, 0.8);
        }
    }

    // Menu Button 
    .menu {
        display: none;
    }

}
// Hide links, show menu button
@media screen and (max-width: 860px) {
    .header__nav{
        visibility: hidden;
        display: none;
    }
    .cta {
        display: none;
    }
    .header{
        .menu{
            display: inline-block;
            visibility: visible;
        }
    }
    
}

/* Mobile Nav*/

.overlay {
    // Positioning
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    // Styling
    background-color: $color-nav-background;
    overflow-x: hidden;
    transition: all .5s ease 0s;
    // Whole viewport 
    &__content {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    // Links from navigation bar
    & a {
        padding: 15px;
        font-size: 3.5rem;
        display: block;
        transition: all .5s ease 0s;
        text-decoration: none;
        color: $color-white;
        &:hover,
        &:focus{
            color: $color-primary;
        }
    }

}
// Close anchor
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }

    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

// Landing page
.grid__header {
    // Position on global grid
    grid-column: full-start / full-end;
    // Grid for this block
    display: grid;
    grid-template-columns: [sidespace-end full-start] minmax(3rem,1fr) [center-start] repeat(8,[col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(3rem,1fr) [full-end];
    grid-template-rows: minmax(3rem,1fr) repeat(5, minmax(min-content, 1fr)) minmax(3rem,1fr);
    // Styling
    background-color: $color-white;
    
   
    // Services
    &__box {
        // Position on parent grid
        grid-column: 3 / 9 !important;
        grid-row: 2 / 7 !important;
       
        
        // Style
        border: 1px solid $color-primary-dark;
        background-color: rgba(0, 136, 169, 0.8);
        box-shadow: .3rem .7rem 3rem rgba($color-black, .4);
        border-radius: .5rem;

        // Flex for this block
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;    

        // Smoothness
        transition: all .2s;

        @media only screen and (max-width: 1000px) {
         grid-column: 1 / -1 !important;
         grid-row: 1 / 7 !important;
        }
        
    }

    // Images on top of the parent container
    &__imgbox{
        
            
        &--1{
            // Position on parent grid
            grid-column: 8 / 10;
            grid-row: 3 / 5;
            right: -5%;
            bottom: -10%;
            position: relative;

        }
    

        &--2{
             // Position on parent grid
            grid-column: 2 / 4;
            grid-row: 2 / 4;
            position: relative;
            top: -30%;
            left: -5%;
        }

        @media only screen and (max-width: 1000px) {
            &--1,
            &--2{
                grid-row: 3 / 5;
            }

            &--1{
                top: 0;
                bottom:  0;
            }
            &--2{
                top:0;
                bottom: 0;
            }
           
           }
       
       
        img{
            // Size
            width: 25vw;//42rem;

            // Styling
            border-radius: 1rem;
            border: 1px solid $color-primary-dark;
            background-color: rgba(0, 136, 169, 1);
            box-shadow: .3rem .7rem 3rem rgba($color-black, .4); 

            transition: all .25s;

            
        }
        @media only screen and (max-width: 1000px) {
            display: none;
            }
    }
    
    // Scroll arrow
    &__arrow-down{
         // Position on parent grid
        grid-column: 5 / 7;
        grid-row: 7 / -1;
        
        // Positioning items within the div - Flex
        display: flex;
        align-items: center;
        position: relative;
        top: -20%;
        justify-content: center;

        // Sizes
        font-size: 15rem;
        line-height: 0;
        
        
        // Styling       
        color: rgba($color-primary, .8);

        // Smoothness
        transition: all .2s;
        &:hover{
            
            transform: scale(1.05) translateY(10%);
            color: rgba($color-primary, .8);;
            text-decoration: none;
           
        }
    }


   
}

.heading-primary {
   
}

.heading__secondary {
    // Sizing
    font-weight: 300;
    font-size: $font-size-heading;
    @media only screen and (max-width: 1000px) {
    font-size: 4vw;
    }

    // Styling
    color: $color-white;
    text-transform: uppercase; 
    border-bottom: .2rem solid $color-white-2;
    border-style: ridge;
    border-width: 0px 0px .2rem 0px;
   



    &:not(:last-child) {
        margin-bottom: 2rem;
    }
    // Flex for current block
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    // Smooth
    transition: all .3s;

    // Effects
    &:hover{
        transform: scale(1.05);
       
        .icon {
            transition: all 1s;
            &__speed{
                fill : moccasin;        
            }
            &__view{          
                fill : yellow;
            }
            &__heart{
             
                fill: red;
            }
        }
    }
}
// Icons
.icon{
    // Positioning && Sizing
    position: relative;
    text-align: center;
    line-height: 0;
    font-size: 0;

    // Sizes
    width: $icon-size;
    height: $icon-size; 

    // Styling
    display: inline-block;
    fill: $color-white-2;
 
    // Speed boat icon
    &__speed{
        width: calc(1.5 * #{$icon-size});
        height: calc(1.5 * #{$icon-size});
    }
    // Specular views icons
    &__view{
        position: relative;
        
        width: calc(2 * #{$icon-size});
        height: calc(2 * #{$icon-size});
        
    }
    // Unforgettable experience icon
    &__heart{
     
    }
}

// About
.about {
    // Development purposes
    // height: calc(100vh - #{$navigation-height});
    // height: 50rem;
    
    // -----------
    grid-column: center-start / center-end;

    margin: 23rem 0;

    // 
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;

    &__feature {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-row-gap: 1rem;
        grid-column-gap: 2.5rem;
        
        .feature__text {
            font-size: 1.7rem;
        }
        &__description{
            font-size: 1.6rem;
        
        }
        &__icon {
            fill: $color-primary;
            width: 5.5rem;
            height: 5.5rem;
            line-height: 0;
            // width: 5rem;
            // height: 4.5rem;
            grid-row: 1 / span 2;

            transform: translateY(-1rem);
        }
    }

}

// CATALOG 
.boats {
    background-color: $color-white;
    grid-column: full-start / full-end;
    
    margin: 5rem 4rem;
    
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
      @media only screen and (max-width: 60rem) {
        margin: 5rem 3rem;
      }

}
// Card
.boat{
    background-color: #fff;
    border: 1px solid $color-nav-background;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    // min-width: 28rem;
    box-shadow: .3rem .7rem 3rem rgba($color-black, .4);

    &__img{
        display: grid;
        grid-template-columns: repeat(2, minmax(14rem, 1fr));
        grid-template-rows: repeat(2,1fr);
        max-height: 30rem;
        // min-height: 30rem;
        // grid-gap: 1rem;
       a{
           height: 100%;
           
       }
        img {
            width: 100%;
            height: 100%;
            max-height: 14em;
            
            // max-width: 12rem;
            
        }
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 1;

    }
    &__price,
    &__capacity{
     //   margin-top: 2.5rem;
    }

    svg {
        width: 2rem;
        height: 2rem;
    }

    &__price {

    }
    &__engine{
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        z-index: 3;
        width: 80%;
        justify-self: center;
        align-self: end;

        font-size: 1.6rem;
        text-align: center;
        text-transform: uppercase;
        padding: 1.25rem;
        background-color: $color-nav-background;
        font-weight: 400;
        color: $color-white;
         transform: translateY(50%);
        // line-height: 1.5rem;
        
        
    }
    &__starter,
    &__capacity,
    &__price,
    &__rating {
        font-size: 1.4rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        
        svg {
            margin-right: 1rem;
            height: 3rem;
            width: 3rem;
            transform: translateY(0);
            // align-self: center;
        }
    }


    &__book{
        grid-column: 1 / -1;
        // height: 100%;
    }
  
}
//NAVIGATION

.navigation {

}





// Find Us
.find-us{
    // background-color:  #FFF;
    padding: 6rem 0;
    margin: 0 7rem;
    grid-column: full-start / full-end;
    display: flex;
    // flex-wrap: wrap;
    height: 80vh;

    iframe{
        width: 45%;
        
    }
    &__photo{
        width: 40%;
        margin-left: 5%;
    }
    @media only screen and (max-width: 85rem) {
        padding: 2rem 0;
        margin: 0 4rem;
        justify-content: center;
        iframe{
           width: 100%;
           height: 50%;
        }
        height: 100vh;;
    }
    @media only screen and (max-width: 45rem) {
        padding: 0rem 0;
        justify-content: center;
        margin: 0 2rem;
        iframe{
            width: 100%;
            height: 50%;
        }
        height: 100vh;;
    }
    
    
}



// Summer Gallery
.gallery {
        background-color: $color-white;
        grid-column: center-start / center-end;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-gap: 1rem;
        padding: 3rem;
        margin: 1rem;
        overflow: hidden;
        box-shadow: .3rem .7rem 3rem rgba($color-black, .4);
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
            border-radius: .7rem;
            
        }
        &__item {
            &--1 {
                grid-row: 1 / span 2;
                grid-column: 1 / span 2;
            }
            &--2 {
                grid-row: 1 / span 3;
                grid-column: 3 / -1;
            }
            &--3 {
                grid-row: 3 / span 3;
                grid-column: 1 / span 2;
            }
            &--4 {
                grid-row: 4 / span 2;
                grid-column: 3 / span 2;
            }
           
        }

}

// Footer
.footer {
    background-color: $color-nav-background;
    grid-column: full-start / full-end;
    color: $color-white;
    font-size: 1.5rem;
    text-align: center;
    padding: 1.5rem;
   
   

    a,
    a:link{
        color: $color-white;
        text-decoration: none;
        display: inline-block;
        transition: all .2s;
        margin-left: .115rem;
        
    }
    a:hover{
        transform: scale(1.1);
        box-shadow: .3rem .7rem 3rem rgba($color-black, .4);
        background-color: $color-white;;
        padding: .2rem .2rem;
        border-radius: 1rem;
        color: $color-primary;
    }
    // @media only screen and (max-width: 800px) {
    //     padding: 2rem;
    // }
}
