// COLORS
 $color-primary: #5ee0aa;
 $color-primary-light: #00fdf1fa;
 $color-primary-dark: #39a6ff;

 $color-secondary: #2e537e;
 $color-secondary-dark: #244468;

 $color-grey-light-1:#48d366;
 $color-green-dark-1: rgb(70, 167, 57);
 $color-green-dark-2: rgb(52, 126, 42);

 $color-grey-dark: #777;
 $color-white: #fff;
 $color-black: #0000;


 $navigation-width: 15rem;
// FONT SIZES
 $default-font-size: 1.6rem;
 $font-primary: 'Lato', sans-serif, arial;

